/* Stylesheet for TGIF stuff */


/* ***** type level selectors ***** * */

/* clicky stuff */
a {
    color: rgb(39, 39, 39);
}

a:hover {
    color: rgb(39, 39, 39);
}

ul {
    list-style-type: none;
}

h2 {
    margin-bottom: 20px;
    margin-top: 70px;
}

footer a {
    color: rgb(0, 115, 209);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:rgb(206, 205, 205);
    color:rgb(39, 39, 39);
    height: 50px;
}


th {
    background-color: #b9443c;
    color: rgb(238, 237, 237);
}

td {
    background-color: white;
}

/* ***** class level selectors ***** */
.pre-scrollable {
    max-height: 600px;
}
.dropdown-menu {
    position: relative;
    top: 38px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-menu li {
    margin-top: 8px;
}

.centeredCol {
    text-align: center;
}

.btn-text.collapsed:before {
    content: 'read more ▼';
    color: #004ecc;
}

.btn-text:before {
    content: '';
}

.footerWords {
    margin: 10px;
}

.clairOverlay a {
    position: relative;
    bottom: 30px;
}

/* ***** id level selectors ***** */


/*Styling the Header, Logo, and Nav*/
#navWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #d6574e;;
}

/*Styling the Home page*/
#courthouse {
    width: 100%;
}

#readLess {
    color: #004ecc;
}

#aboutUsTxt {
    display: inline;
}

#aboutUsImg {
    width: 40%;
    max-width: 400px;
    float: right;
}

#bgHistoryWrap {
    margin: 30px;
    width: 40%;
    max-width: 500px;
    float: left;
}

#bgHistoryImg {
    width: 100%;
}

/*Styling the Senate Data*/

.dataInfo {
    background-image: url('../capitolbuilding.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundFade {
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
}

#containerTableData {
    margin-top: 10px;
    margin-bottom: 50px;
}

#containerTableData th {
    background-color: #b9443c;
    color: rgb(238, 237, 237);
    position: sticky; 
    top: 0;
}

#containerTableData td {
    background-color: white;
}

#filters {
    margin-top: 20px;
    font-size: 14px;
}

#dropdownwrap {
    display: inline;
}

#emptyMessage {
    text-align: center;
    color:  #b9443c;
    font-size: 1.2em;
}

/*Styling the Senate at a Glance Table*/


#atGlanceWrap {
    display: flex;
    justify-content: center;
}

#atGlance{
    background-color: white;
    align-self: center;
    width: 80%;
    border: 2px solid #0031b6;
    border-radius: 5px;
    box-shadow: 10px 10px 15px grey;
}

#atGlance h2 {
    margin: 10px;
}

#atGlance table {
    width: 90%;
    margin: 10px;
}

#atGlance th {
    background-color: #b9443c;
    border-bottom:  #b9443c;
    color: rgb(238, 237, 237);
}

#attendanceText {
    margin-bottom: 100px;
}

/* **** styling the attendance page ****/

#votedImage {
    background-image: url(../ivoted.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.votedFade {
    background: -webkit-linear-gradient(right bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
}

.mostLeastTables {
    margin: 20px;
    margin-bottom: 100px;
}

.mostLeastTables th {
    background-color: #b9443c;
    color: rgb(238, 237, 237);
    position: sticky; 
    top: 0;
}

/* **** styling the party loyalty page ****/
#flagImage {
    background-image: url(../americanflag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flagFade {
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
}